@use "../abstracts/variables";
@use "../abstracts/mixins";

/* 
This preset will be inherited to any other child element that under the body element
Configure the body element with a default font family, font weight, font size, line height, and text color.
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: variables.$color-grey-dark;
  padding: 3rem;

  //Width < 900px
  @include mixins.respond(tab-port) {
    padding: 0;
  }
}

.heading-primary {
  color: variables.$color-white;
  text-transform: uppercase;

  backface-visibility: hidden; /* Hide the backface of the element - avoid shaking in the animation */
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; /* Animation will start slowly and then speed up */

    @include mixins.respond(phone) {
      letter-spacing: 2rem;
      font-size: 4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; /* Animation will start slowly and then speed up */

    @include mixins.respond(phone) {
      letter-spacing: 0.5rem;
      font-size: 1.8rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );
  background-clip: text;
  color: transparent;
  //-webkit-background-clip: text;
  //https://stackoverflow.com/questions/76144712/visual-studio-code-warning-also-define-the-standard-property-background-clip
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include mixins.respond(tab-port) {
    font-size: 3rem;
  }

  @include mixins.respond(tab-port) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: variables.$default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: variables.$default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
